
body, html{
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-height: 100vh;
  /*overflow: hidden;*/
}

marquee{
  height:2em;
  font-size: 2em;
  font-weight: bold;

}
iframe{
  display:block;
  padding: 0px;
  border: 0px;
  margin:0px;
  line-height: 0;

}


#vertical
{
  transform: rotate(45deg);
  transform:rotate(45deg);
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);

}

.example1 {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.example1 h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;

    /* Starting position */

       -moz-transform:translateY(100%);
       -webkit-transform:translateY(100%);
       transform:translateY(100%);

 /* Apply animation to this element */
       -moz-animation: example1 15s linear infinite;
       -webkit-animation: example1 15s linear infinite;
       animation: example1 15s linear infinite;
}

/* Move it (define the animation) */
      @-moz-keyframes example1 {
       0%   { -moz-transform: translateY(100%); }
       100% { -moz-transform: translateY(-100%); }
      }
      @-webkit-keyframes example1 {
       0%   { -webkit-transform: translateY(100%); }
       100% { -webkit-transform: translateY(-100%); }
      }
      @keyframes example1 {
       0%   {
       -moz-transform: translateY(100%); /* Firefox bug fix */
       -webkit-transform: translateY(100%); /* Firefox bug fix */
       transform: translateY(100%);
       }
       100% {
       -moz-transform: translateX(-100%); /* Firefox bug fix */
       -webkit-transform: translateX(-100%); /* Firefox bug fix */
       transform: translateX(-100%);
       }
      }
